@(title: String, key: String, data: model.json.output.Data)

@map {
    <script src="http://www.mapquestapi.com/sdk/js/v7.0.s/mqa.toolkit.js?key=Fmjtd%7Cluub2gu7nu%2Cr0%3Do5-9ua01f"></script>
    <script type="text/javascript">
        MQA.EventUtil.observe(window, 'load', function() {

        /*Create an object for options*/
        var options={
        elt:document.getElementById('map-canvas'),        /*ID of element on the page where you want the map added*/
        zoom:15,                                   /*initial zoom level of map*/
        latLng:{lat:48.85296820000001, lng: 2.34990210},   /*center of map in latitude/longitude*/
        mtype:'map'                                /*map type (map)*/
        };

        /*Construct an instance of MQA.TileMap with the options object*/
        window.map = new MQA.TileMap(options);

        MQA.withModule('largezoom','viewoptions','mousewheel', function() {

        map.addControl(
        new MQA.LargeZoom(),
        new MQA.MapCornerPlacement(MQA.MapCorner.TOP_LEFT, new MQA.Size(5,5))
        );

        map.addControl(new MQA.ViewOptions());

        map.enableMouseWheelZoom();
        });


        var marker;
        var image;

        @for(p <- data.getPlaces) {
            marker = new MQA.Poi( {lat:@p.getLat, lng:@p.getLng} );
            marker.setRolloverContent('@p.getName - @p.getLeft/@p.getAll');
            map.addShape(marker);
        }
        @for(v <- data.getVelibs) {
            image = new MQA.Icon("@routes.Assets.at("images/marker-green.png")",32,32);


            marker = new MQA.Poi( {lat:@v.getLat, lng:@v.getLng} );
            marker.setRolloverContent('@v.getName - @v.getLeft/@v.getAll - @v.getDistance');
            marker.setIcon(image);
            map.addShape(marker);
        }
        @for(o <- data.getOthers) {
            image = new MQA.Icon("@routes.Assets.at("images/marker-azure.png")",32,32);
            marker = new MQA.Poi( {lat:@o.getLat, lng:@o.getLng} );
            marker.setRolloverContent('@o.getName - @o.getLeft/@o.getAll - @o.getDistance');
            marker.setIcon(image);
            map.addShape(marker);
        }
        });

    </script>
}